{% load static %}
<!-- Sidebar START -->
<nav class="navbar sidebar navbar-expand-xl navbar-dark bg-dark">
  <!-- Navbar brand for xl START -->
  <div class="d-flex align-items-center">
    <a class="navbar-brand" href="{% url 'products:home' %}">
      <img
        class="navbar-brand-item"
        src="{% static 'assets/images/logo-light.svg' %}"
        alt="داروخانه آنلاین"
      />
    </a>
  </div>
  <!-- Navbar brand for xl END -->

  <div
    class="offcanvas offcanvas-start flex-row custom-scrollbar h-100"
    data-bs-backdrop="true"
    tabindex="-1"
    id="offcanvasSidebar"
  >
    <div class="offcanvas-body sidebar-content d-flex flex-column bg-dark">
      <!-- Sidebar menu START -->
      <ul class="navbar-nav flex-column" id="navbar-sidebar">
        <!-- Menu item 1 - Dashboard -->
        <li class="nav-item">
          <a href="{% url 'products:admin_product_list' %}" class="nav-link active">
            <i class="bi bi-house fa-fw me-2"></i>داشبورد
          </a>
        </li>

        <!-- Title -->
        <li class="nav-item ms-2 my-2">مدیریت</li>

        <!-- Menu item 2 - Products -->
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#collapseproducts"
            role="button"
            aria-expanded="false"
            aria-controls="collapseproducts"
          >
            <i class="fas fa-pills fa-fw me-2"></i>محصولات
          </a>
          <!-- Submenu -->
          <ul
            class="nav collapse flex-column"
            id="collapseproducts"
            data-bs-parent="#navbar-sidebar"
          >
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products:admin_product_list' %}">لیست محصولات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products:admin_product_create' %}">افزودن محصول</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">دسته‌بندی‌ها</a>
            </li>
          </ul>
        </li>

        <!-- Menu item 3 - Orders -->
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#collapseorders"
            role="button"
            aria-expanded="false"
            aria-controls="collapseorders"
          >
            <i class="fas fa-shopping-cart fa-fw me-2"></i>سفارشات
          </a>
          <!-- Submenu -->
          <ul
            class="nav collapse flex-column"
            id="collapseorders"
            data-bs-parent="#navbar-sidebar"
          >
            <li class="nav-item">
              <a class="nav-link" href="">لیست سفارشات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                سفارشات در انتظار
                <span class="badge text-bg-warning rounded-circle ms-2">3</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- Menu item 4 - Users -->
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#collapseusers"
            role="button"
            aria-expanded="false"
            aria-controls="collapseusers"
          >
            <i class="fas fa-users fa-fw me-2"></i>کاربران
          </a>
          <!-- Submenu -->
          <ul
            class="nav collapse flex-column"
            id="collapseusers"
            data-bs-parent="#navbar-sidebar"
          >
            <li class="nav-item">
              <a class="nav-link" href="">لیست کاربران</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">افزودن کاربر</a>
            </li>
          </ul>
        </li>

        <!-- Menu item 5 - Inventory -->
        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fas fa-warehouse fa-fw me-2"></i>موجودی انبار
          </a>
        </li>

        <!-- Menu item 6 - Reports -->
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#collapsereports"
            role="button"
            aria-expanded="false"
            aria-controls="collapsereports"
          >
            <i class="far fa-chart-bar fa-fw me-2"></i>گزارش‌ها
          </a>
          <!-- Submenu -->
          <ul
            class="nav collapse flex-column"
            id="collapsereports"
            data-bs-parent="#navbar-sidebar"
          >
            <li class="nav-item">
              <a class="nav-link" href="">گزارش فروش</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">کالاهای کم موجود</a>
            </li>
          </ul>
        </li>

        <!-- Menu item 7 - Settings -->
        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fas fa-cog fa-fw me-2"></i>تنظیمات سایت
          </a>
        </li>

        <!-- Title -->
        <li class="nav-item ms-2 my-2">سیستم</li>

        <!-- Menu item 8 - Authentication -->
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#collapseauthentication"
            role="button"
            aria-expanded="false"
            aria-controls="collapseauthentication"
          >
            <i class="bi bi-lock fa-fw me-2"></i>احراز هویت
          </a>
          
        </li>

        
      </ul>
      <!-- Sidebar menu end -->

      <!-- Sidebar footer START -->
      <div class="px-3 mt-auto pt-3">
        <div
          class="d-flex align-items-center justify-content-between text-primary-hover"
        >
          <a
            class="h5 mb-0 text-body"
            href="{% url 'admin:index' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="پنل Django Admin"
          >
            <i class="bi bi-gear-fill"></i>
          </a>
          <a
            class="h5 mb-0 text-body"
            href="{% url 'products:home' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="صفحه اصلی"
          >
            <i class="bi bi-globe"></i>
          </a>
          <a
            class="h5 mb-0 text-body"
            href="{% url 'users:logout' %}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="خروج"
          >
            <i class="bi bi-power"></i>
          </a>
        </div>
      </div>
      <!-- Sidebar footer END -->
    </div>
  </div>
</nav>
<!-- Sidebar END -->
