<!-- =======================
About START -->
<section>
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-lg-5">
        <!-- Title -->
        <h2>
          دریافت مشاوره رایگان برای انتخاب
          <span class="text-warning"><br />مناسب ترین </span> محصولات
        </h2>
        <!-- Image -->
        <img src="assets/images/about/03.jpg" class="rounded-2" alt="" />
      </div>
      <div class="col-lg-7">
        <div class="row g-4">
          <!-- Item -->
          <div class="col-sm-6">
            <div class="icon-lg bg-orange bg-opacity-10 text-orange rounded-2">
              <i class="fas fa-user-tie fs-5"></i>
            </div>
            <h5 class="mt-2">مدرسان مجرب</h5>
            <p class="mb-0">
              با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
              طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
            </p>
          </div>
          <!-- Item -->
          <div class="col-sm-6">
            <div class="icon-lg bg-info bg-opacity-10 text-info rounded-2">
              <i class="fas fa-book fs-5"></i>
            </div>
            <h5 class="mt-2">خودآموزی و یادگیـری</h5>
            <p class="mb-0">
              با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
              طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
            </p>
          </div>
          <!-- Item -->
          <div class="col-sm-6">
            <div
              class="icon-lg bg-success bg-opacity-10 text-success rounded-2"
            >
              <i class="bi bi-alarm-fill fs-5"></i>
            </div>
            <h5 class="mt-2">کسب تجربه</h5>
            <p class="mb-0">
              با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
              طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
            </p>
          </div>
          <!-- Item -->
          <div class="col-sm-6">
            <div class="icon-lg bg-purple bg-opacity-10 text-purple rounded-2">
              <i class="fas fa-university fs-5"></i>
            </div>
            <h5 class="mt-2">ورود به بازار کار</h5>
            <p class="mb-0">
              با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
              طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =======================
About END -->
